.btn {
  background: $light-purple;
  border: 3px solid $light-purple;
  border-radius: 50px;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $light-purple-hover;
    border: 3px solid $light-purple-hover;
  }
}
