.btn {
  background: $light-purple;
  border: none;
  border-radius: 3em;
  color: $white;
  cursor: pointer;
  transition: background 200ms ease;
  &:hover {
    background: $light-purple-hover;
  }
  &.disabled {
    cursor: initial;
    opacity: 0.7;
    &:hover {
      background: $light-purple;
    }
  }
  &.btn--play {
    display: block;
    font-size: 1.4em;
    margin: 0 auto;
    padding: 1em 2em;
    width: 100%;
    max-width: 400px;
    @include media-query('tabletLandscape', 'min') {
      font-size: 1.6em;
    }
  }
  &.btn--start {
    display: block;
    font-size: 2rem;
    padding: 0.8em 4em;
    width: 50%;
  }
  &.btn--empty-game {
    display: block;
    font-size: 1.4rem;
    padding: 0.8em 4em;
  }
  &.btn--game-details {
    display: block;
    font-size: 1.4rem;
    padding: 10px 50px;
  }
  &.btn--warning {
    background: red;
    font-size: 1rem;
    padding: 0.8em 4em;
    transition: opacity 200ms ease;
    &:hover {
      opacity: 0.8;
    }
  }
  &.btn--shadow {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  &.btn-confirmation {
    font-size: 1rem;
    padding: 0.8em 4em;
  }
}
