$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'Milkshake';
  src: url($font_path+'Milkshake.woff2') format('woff2'), url($font_path+'Milkshake.woff') format('woff'),
    url($font_path+'Milkshake.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo';
  src: url($font_path+'Baloo.woff2') format('woff2'), url($font_path+'Baloo.woff') format('woff'),
    url($font_path+'Baloo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url($font_path+'Lato-Hairline.woff2') format('woff2'), url($font_path+'Lato-Hairline.woff') format('woff'),
    url($font_path+'Lato-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url($font_path+'Lato-HairlineItalic.woff2') format('woff2'),
    url($font_path+'Lato-HairlineItalic.woff') format('woff'),
    url($font_path+'Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Thin.woff2') format('woff2'), url($font_path+'Lato-Thin.woff') format('woff'),
    url($font_path+'Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-ThinItalic.woff2') format('woff2'), url($font_path+'Lato-ThinItalic.woff') format('woff'),
    url($font_path+'Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-LightItalic.woff2') format('woff2'), url($font_path+'Lato-LightItalic.woff') format('woff'),
    url($font_path+'Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-MediumItalic.woff2') format('woff2'),
    url($font_path+'Lato-MediumItalic.woff') format('woff'), url($font_path+'Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-BoldItalic.woff2') format('woff2'), url($font_path+'Lato-BoldItalic.woff') format('woff'),
    url($font_path+'Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Light.woff2') format('woff2'), url($font_path+'Lato-Light.woff') format('woff'),
    url($font_path+'Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Regular.woff2') format('woff2'), url($font_path+'Lato-Regular.woff') format('woff'),
    url($font_path+'Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Italic.woff2') format('woff2'), url($font_path+'Lato-Italic.woff') format('woff'),
    url($font_path+'Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Medium.woff2') format('woff2'), url($font_path+'Lato-Medium.woff') format('woff'),
    url($font_path+'Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-SemiboldItalic.woff2') format('woff2'),
    url($font_path+'Lato-SemiboldItalic.woff') format('woff'),
    url($font_path+'Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Semibold.woff2') format('woff2'), url($font_path+'Lato-Semibold.woff') format('woff'),
    url($font_path+'Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Bold.woff2') format('woff2'), url($font_path+'Lato-Bold.woff') format('woff'),
    url($font_path+'Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-Black.woff2') format('woff2'), url($font_path+'Lato-Black.woff') format('woff'),
    url($font_path+'Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($font_path+'Lato-BlackItalic.woff2') format('woff2'), url($font_path+'Lato-BlackItalic.woff') format('woff'),
    url($font_path+'Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
