form.authentication {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  padding: 60px 70px 70px;
  width: 50%;
  max-width: 600px;
  position: absolute;
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .form-title {
    text-align: center;
    margin-top: 0;
  }
  input {
    margin: 5px 0;
    border: 5px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    &.error {
      border: 5px solid red;
    }
  }
  button {
    background: $light-purple;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 20px 0;
    padding: 10px;
  }
  .auth-options {
    margin-top: 20px;
    text-align: center;
    a {
      // margin: 5px 0;
      span {
        font-family: 'Lato';
        text-align: center;
      }
    }
  }
}
