html,
body {
  color: $white;
}

p,
li,
th,
td {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Baloo', sans-serif;
  font-weight: normal;
}

a {
  &:link,
  &:active,
  &:focus,
  &:visited {
    color: inherit;
  }
  text-decoration: none;
  font-family: 'Baloo', cursive;
  &:hover {
    text-decoration: underline;
  }
}

.milkshake {
  font-family: 'Milkshake', 'cursive';
  font-weight: normal;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
