$app-background: linear-gradient(45deg, rgba(135, 77, 162, 1) 0%, rgba(196, 58, 48, 1) 100%);
$app-background-backup: rgb(135, 77, 162);

$light-purple: #b36c93;
$light-purple-hover: #bf749d;
$dark-purple: #87354e;
$white: #fff;
$correct-green: #57ea34;
$incorrect-red: #ff0000;
$opaque-black-background: rgba(0, 0, 0, 0.2);
